*{
    padding: 0;
    margin: 0;
}
.profilePicContainer{
    width:30%;
}
#container{
    margin-left:15%;
    margin-right: auto;
    margin-top:80px;
    width: 68%;
    border-bottom:1px solid #808080;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
}
#container header{
    display: flex;
}
#profilePic{
    width: 21%;
}
li{
    padding: 26px;
    font-size:20px;
}
h3{
    width:130px;
    font-size:21px;
    margin-left:23px;
    font-weight: normal;
}
#followersSect{
    display: flex;
    list-style: none;
}
#profileInfo{
    width: 65%;
    height: 96px;
    text-align: end;
    margin-left:32px;
    margin-top:30px;
}
/* PICS */
.picturesContainer1{
    display: block;
    margin-left:10%;
    margin-top:10%;
}
.picturesContainer2{
    display: block;
    margin-left:10%;
}
.catPics{
    height: 365px;
    padding:20px;
    width:300px;
}
#toeBeans{
    cursor: pointer;
}